# ESP32-S3 Hardware Optimization Defaults
# LilyGO T-ETH-Lite-S3 Specific Configurations

# 1. PSRAM (8MB Octal SPIRAM)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_TYPE_ESP32S3=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384

# 2. System Stability (Stack Sizes & Arduino Compatibility)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=7168
CONFIG_ARDUINO_LOOP_STACK_SIZE=16384
CONFIG_FREERTOS_HZ=1000

# 3. Network Features (NAPT / Internet Sharing)
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y

# 4. Network Performance (TCP Window 64KB)
CONFIG_LWIP_TCP_WND_DEFAULT=14360 # max range : 5120 ~ 65535
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=14360 # # max range : 5120 ~ 65535   

# 5. Core Affinity & Task Priorities (Role Separation)
# Network on Core 0
CONFIG_LWIP_TCPIP_TASK_AFFINITY_CPU0=y
CONFIG_LWIP_TCPIP_TASK_AFFINITY=0x0
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_0=y
CONFIG_ARDUINO_UDP_RUNNING_CORE=0
CONFIG_ARDUINO_UDP_TASK_PRIORITY=3
# App & UI on Core 1
CONFIG_ARDUINO_RUNNING_CORE=1
CONFIG_ARDUINO_EVENT_RUNNING_CORE=1
CONFIG_ESP_MAIN_TASK_AFFINITY_CPU1=y
CONFIG_ESP_MAIN_TASK_AFFINITY=0x1
CONFIG_ARDUINO_SERIAL_EVENT_TASK_PRIORITY=24

# 6. IRAM Optimizations
CONFIG_LWIP_IRAM_OPTIMIZATION=y # check on / off
CONFIG_ESP32_WIFI_IRAM_OPT=y

# 7. UI/LVGL Optimization (60 FPS & Color Correction)
CONFIG_LV_DISP_DEF_REFR_PERIOD=16
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_PERF_MONITOR_ALIGN_BOTTOM_RIGHT=y

# 8. Ethernet SPI (W5500) Support for Arduino
CONFIG_ETH_USE_SPI_ETHERNET=y
CONFIG_ETH_SPI_ETHERNET_W5500=y

# 9. FreeRTOS Task Monitoring (CoreID, Stats)
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y

# 10. Partition Table (Huge App - 3MB)
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# 11. CPU Frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=160
